version: '3.4'
services:
  web:
    build: .
    container_name: demo-page
    ports:
      - '1235:1235'
    command: npm run demo
  e2e:
    build: ./puppeteer
    container_name: puppeteer
    network_mode: 'host'
    depends_on:
      - web
    environment:
      - DISPLAY
      - DEMO_URL=http://localhost:1235/demo
      - USER_A
      - USER_B
      - PASSWORD_A
      - PASSWORD_B
      - NUMBER_A
      - NUMBER_B
      - WEBSOCKET_URL
      - REALM
    command: sh -c "sleep 10 && npm run test:e2e"
